body{
	background: black;
	text-align: left;
	font-family: 'Prompt', sans-serif;
	color: white;

}

.title{
	background-color: brown;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.button-submit{
	text-align: center;
}

#find_au{
	margin: 100px;
}