body{
	background: black;
	text-align: left;
	font-family: 'Prompt', sans-serif;
	color: white;

}

button{
	background-color: blue;
	border: none;
	color:white;
	font-size: 17px;
	padding: 22px;
	margin-top: 20px;
}

.title{
	background-color: brown;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.admin_data{
	margin: 20px;
	background-color: purple;
	font-size:20px;
	padding: 30px;
}

.container{
	background-color: none;
	margin-top: 50px;
}

.man_but{
	margin-bottom: 30px;
}

nav{
	background-color: #BC0000;
}

table{
	background-color: #BC0000;
	margin:40px;
}

#staff_info td{
	padding: 30px;
	padding-bottom: 20px;
	font-size:20px;

}

#staff_title{
	font-size: 30px;
	padding:10px;
}

#staff_all td img{
	width: 100px;
	height: 100px;
}

#staff_all td,th{
	padding: 15px;
	text-align: center;
}

.caption{
	font-size: 30px;
	text-align: center;
}