body{
	background: black;
	text-align: center;
	font-family: 'Prompt', sans-serif;
	color: white;

}

.title{
	background-color: brown;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}