@media (max-width: 500px) {
article {
margin: 0 2px;
}
}


body{
	background: black;
}

.card{
	text-align: center;
	width: 18rem;
	margin-top: 100px;
	font-family: 'Prompt', sans-serif;
	background: #BC0000;
}

.card-title{
	font-size: 25px;
	color: white;
	margin-bottom: 60px;
	vertical-align: center;
	font-family: 'Prompt', sans-serif;
}

.card-body{
	height: 50px;
}

nav{
	background-color: #BC0000;
}

h1{
	font-size: 60px;
	color: white;
	text-align: center;
	margin-top: 150px;
	font-family: 'Prompt', sans-serif;
}

.jumbotron {
  margin:0px 0px 0px 0px;
  background: url(pic/bgpage.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: top  center;
  height: 600px;
  font-family: 'Chonburi', cursive;
  color: #BC0000;
  font-size: 7em;
} 


.jumbotron p {
  position: absolute;
  left: 10%;
}

.bottom-page{
	margin-top: 100px;
	margin-bottom: 0px;
	background-color: #7C0400;
	padding: 10px;
	color: white;
}