@media (max-width: 500px) {
article {
margin: 0 2px;
}
}

body{
	background: black;
	font-family: 'Prompt', sans-serif;
	color: white;

}

.row{
	margin: 60px;
}

.book_title{
	background-color: #BC0000;
	font-size: 20px;
	padding: 10px;

}

.add_to_cart{
	background-color: red;
	color: white;
	border: none;
	padding: 10px;
	margin: 20px;
}

.book_name{
	font-size: 40px;
	text-align: left;
}

.tag{
	text-align: left;
	font-size: 15px;
}

.detail{
	text-align: left;
	margin-top: 20px;
}

.story{
	text-align: left;
	margin-top: 20px;
}

.price{
	margin: 20px;
}

.jumbotron {
  margin:0px 0px 0px 0px;
  background: url(pic/bgpage.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: top  center;
  height: 600px;
  font-family: 'Chonburi', cursive;
  color: #BC0000;
  font-size: 7em;
}  

.jumbotron p {
  position: absolute;
  left: 10%;
}

nav{
	background-color: #BC0000;
}

button:hover {
    background: #7C0400;
}

.bottom-page{
	background-color: #7C0400;
	padding: 10px;
	color: white;
	margin-top: 100px;
}