body {
    background: black;
    color: #fafafa;
    font-family: 'Prompt', sans-serif;
}

table {
    background: #E3E3E3;
    width: 101%;
    margin:1em auto;
    max-width: 1140px;
}

th {
    background: #BC0000;
    color: #fafafa;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;  
}

td {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px; 
    font-size: 1em;
}

.button-panel {
    width: 30%;
    margin-left: 42%;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.button-panel a {
    font-family: 'Prompt', sans-serif;
    color: #fafafa;
    text-decoration: none;
}

.button-panel .button {
    background: #BC0000;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Prompt', sans-serif;
    font-size: 1em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.button:hover {
    background: #7C0400;
}

.button-panel-b {
    width: 30%;
    margin-left: 42%;
    padding-bottom: 20px; 
}

.button-panel-b a {
    font-family: 'Prompt', sans-serif;
    color: #fafafa;
    text-decoration: none;
}

.button-panel-b .button {
    background: #BC0000;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Prompt', sans-serif;
    font-size: 1em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.button-panel-b .button:hover {
    background: #7C0400;
}

.quantity {
    width: 33px;
    height: 22px;
    background: #E3E3E3;
    color: black;
    text-align: center;
}
