body {
  	background: black;
  	color: #5e5e5e;
  	font-family: 'Prompt', sans-serif;
}

.form-wrapper {
  	background: #BC0000;
  	margin:3em auto;
  	padding: 0 1em;
  	max-width: 370px;
    height: 450px;
}

h1 {
  text-align: center;
  padding: 0.5em;
  color: #fafafa;
}

form {
  	padding: 0 1.5em;
}

.form-item {
  	color: #fafafa;
  	font-size: 1.25em;
  	margin-bottom: 0.75em;
  	width: 100%;
}

.form-item input {
  	background: #fafafa;
  	border: none;
  	border: 2px solid #e9e9e9;
  	color: #666;
  	font-family: 'Prompt', sans-serif;
  	font-size: 1em;
  	height: 50px;
  	width: 100%;
}

.form-item input:focus {
  	border: 2px solid #7334BD;
  	outline: none;
}

.button-panel {
  	margin: 2em 0 0;
  	width: 100%;
}

.button-panel .button {
  	background: #7C0400;
  	border: none;
  	color: #fff;
  	cursor: pointer;
  	height: 50px;
  	font-family: 'Prompt', sans-serif;
  	font-size: 1.2em;
  	letter-spacing: 0.05em;
  	text-align: center;
  	text-transform: uppercase;
  	width: 100%;
}

.button:hover {
  	background: #700E0A;
}
