@media (max-width: 500px) {
article {
margin: 0 2px;
}
}

body {
  	background: black;
  	color: #fafafa;
  	font-family: 'Prompt', sans-serif;
}

.form-wrapper-main {
  	margin:3em auto;
  	max-width: 1300px;
}

.form-wrapper1 {
  	background: #E8BABA;
  	margin:3em auto;
  	max-width: 1300px;
  	margin-top: 0;
  	margin-bottom: 0;
}

.form-wrapper2 {
  	background: #E8BABA;
  	margin:3em auto;
  	max-width: 1300px;
  	margin-top: 0;
  	margin-bottom: 0;
}

.form-wrapper3 {
  	background: #E8BABA;
  	margin:3em auto;
  	max-width: 1300px;
  	margin-top: 0;
  	margin-bottom: 0;
}

.form-wrapper4 {
  	background: #E8BABA;
  	margin:3em auto;
  	max-width: 1300px;
  	margin-top: 0;
  	margin-bottom: 0;
  	text-align: center;
  	color: #fafafa;
}

.form-footer {
	background: #EA9A9A;
	color: black;
	font-size: 1em;
	padding-top: 10px;
  	padding-bottom: 10px;
  	padding-left: 40px;
}

.form-wrapper-sub {
  	margin:3em auto;
  	max-width: 1100px;
  	margin-top: 0;
  	margin-bottom: 0;
}

table {
    background: #EA9A9A;
    width: 100%;
    max-width: 1300px;
}

th {
  	background: #991010;
  	color: #fafafa;
  	font-size: 0.95em;
  	padding-top: 10px;
  	padding-bottom: 10px;  
}

td {
	color: black;
  	padding-top: 10px;
  	padding-bottom: 10px; 
  	font-size: 0.95em;
}

h1 {
	font-size: 1.9em;
  padding-left: 2%;
	background: #BC0000;
	padding-top: 10px;
  padding-bottom: 10px;
	margin: 0;
}

h2 {
	font-size: 1.5em;
  background: #f72c2c;
	margin: 0;
	padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

h3 {
  font-size: 1.3em;
	background: #991010;
	margin: 0;
	padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

h4 {
	margin: 0;
	font-size: 1em;
}

.big {
	margin: 0;
	font-size: 1.8em;
	padding-top: 10px;
}

.medium {
	margin: 0;
	font-size: 1.5em;
}

h5{
	background: #BC0000;
	display: inline-block;
  vertical-align: middle;
  padding: 3px 5px;
  margin-left: 80%;
  font-size: 1em;
}

.quantity {
 	width: 33px;
  	height: 22px;
  	background: #EA9A9A;
  	color: black;
  	text-align: center;
    border: none;
}

.button-panel {
    width: 30%;
    margin-left: 42%;
    padding-top: 10px;
    padding-bottom: 5px; 
}

.button-panel .button {
    background: red;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Prompt', sans-serif;
    font-size: 0.95em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.button:hover {
    background: #7C0400;
}

.button-panel-b {
    width: 30%;
    margin-left: 42%;
    padding-bottom: 5px; 
}

.button-panel-b .button {
    background: #9B0000;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Prompt', sans-serif;
    font-size: 0.95em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.button-panel-b .button:hover {
    background: #700E0A;
}

.button-panel-c {
    width: 30%;
    margin-left: 34.5%;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.button-panel-c a {
    font-family: 'Prompt', sans-serif;
    color: #fafafa;
    text-decoration: none;
}

.button-panel-c .button {
    background: #9B0000;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Prompt', sans-serif;
    font-size: 0.95em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.button-panel-c .button:hover {
    background: #700E0A;
}

.addressadd {
  position: absolute;
  left: 77%;
}

.jumbotron {
  margin:0px 0px 0px 0px;
  background: url(pic/bgpage.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: top  center;
  height: 600px;
  font-family: 'Chonburi', cursive;
  color: #BC0000;
  font-size: 7em;
} 

.jumbotron p {
  position: absolute;
  left: 10%;
}

nav{
    background-color: #BC0000;
}

.bottom-page{
  background-color: #7C0400;
  padding: 20px;
  color: white;
  margin-top: 150px;
}

.fas {
  color: #fafafa;
  position: absolute;
  left: 82%;
}