body {
  	background: black;
  	color: #fafafa;
  	font-family: 'Prompt', sans-serif;
}

.form-wrapper-main {
  	background: black;
  	margin:3em auto;
  	padding: 0 1em;
  	max-width: 1300px;
}

h3 {
	background: #f72c2c;
	display: inline-block;
  	vertical-align: middle;
  	padding: 3px 5px;
}

.form-wrapper {
  	background: #E3E3E3;
  	margin:1em auto;
  	padding: 0 1em;
  	max-width: 1100px;
}

form {
  	padding: 0 1.5em;
}

.form-item {
  	color: black;
  	font-size: 0.95em;
  	margin-bottom: 0.75em;
  	width: 50%;
}

.form-item input {
  	background: #fafafa;
  	border: none;
  	border: 2px solid #e9e9e9;
  	color: #666;
  	font-family: 'Prompt', sans-serif;
  	font-size: 0.95em;
  	width: 50%;
}

.form-item input:focus {
  	border: 2px solid #7334BD;
  	outline: none;
}

label {
	display: inline-block;
	width: 25%;
	text-align: right;
	margin: 10px
}

.form-footer {
  	color: black;
  	font-size: 0.95em;
  	margin-bottom: 0.75em;
  	width: 50%;
}

.button-panel {
  	margin: 2em 0 0;
  	width: 30%;
  	margin-left: 42%;
}

.button-panel .button {
  	background: #BC0000;
  	border: none;
  	color: #fff;
  	cursor: pointer;
  	height: 50px;
  	font-family: 'Prompt', sans-serif;
  	font-size: 0.95em;
  	letter-spacing: 0.05em;
  	text-align: center;
  	text-transform: uppercase;
  	width: 50%;
}

.button:hover {
  	background: #7C0400;
}